@font-face {
    font-family: 'SF Pro';
    src: url('font/SFPro-RegularItalic.woff2') format('woff2'),
        url('font/SFPro-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro';
    src: url('font/SFPro-Regular.woff2') format('woff2'),
        url('font/SFPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.mono {
    font-family: 'SF Mono';
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #77AEFF;
    color: white;
}